@page
@model MyTime.Pages.IndexModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<title>Buy Time - MyTime</title>

<div class="background-container">
    <h1>Welcome to MyTime</h1>
    <p>Enjoy exploring our application!</p>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

